body {
  display: flex;
  justify-content: center;
  
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 10px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
}

.main-title {
  color: white;
}

.movie-filter {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 3px;
  border-radius: 5px;
  background-color: #888;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(201, 21, 20);
  margin: 10px;
  width: 300px;
  border-radius: 5%;
  box-shadow: 3px 5px 3px #888;
}

.poster {
  height: 200px;
  width: 135px;
  border-radius: 5% 0 35% 5%;
  object-fit: cover;
  box-shadow: 5px 0px #8888;
  cursor: pointer;
}

.poster:hover {
  filter: invert(1);
  transition: 1s;
}

.movie-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.movie-title {
  font-weight: bold;
}

.movie-imdbScore {
  padding: 2px;
  background-color: yellow;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.movie-imdbScore:hover {
  font-size: 17px;
  transition: 0.5s;
}

.btn_submit {
  width: 100px;
  height: 35px;
  color: white;
  font-size: 16px;
  background-color: #1ECD97;
  border-radius: 15px;
  border: none;
  box-shadow: 3px 3px 3px #888;
}

.btn_submit:hover{
  color: #1ECD97;
  background-color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn_submit:active{
  box-shadow: none;
  position: relative;
  top: 3px;
  left: 3px;
}
